
.chat-window {
    display: flex;
    height: 100vh;
    background-color: #FFF8E1; 
  }
  
  .chat-sidebar {
    width: 300px;
    border-right: 2px solid #FFCC80; 
    background-color: #FFECB3; 
    padding: 10px;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB74D; 
    color: #4E342E; 
    padding: 10px;
    border-bottom: 2px solid #FF9800; 
  }
  
  .chat-header h3 {
    margin: 0;
  }
  
  .chat-close-button {
    cursor: pointer;
    background-color: #FF7043; 
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .chat-close-button:hover {
    background-color: #FF5722; 
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    background-color: #FFF3E0; 
    border: 2px solid #FFCC80; 
    padding: 20px;
  }
  
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFE0B2; 
    border-radius: 10px;
    color: #4E342E; 
  }
  
  .chat-message strong {
    color: #BF360C; 
  }
  
  .chat-input-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFF8E1;
    padding: 10px;
    border-top: 2px solid #FFCC80; 
  }
  
  .chat-input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #FFCC80; 
    border-radius: 5px;
    background-color: #FFF3E0; 
  }
  
  .chat-send-button {
    background-color: #FFA726; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .chat-send-button:hover {
    background-color: #FB8C00;
  }
  

  .chat-messages::-webkit-scrollbar {
    width: 8px;
  }
  
  .chat-messages::-webkit-scrollbar-thumb {
    background-color: #FFB74D;
    border-radius: 10px;
  }
  
  .chat-messages::-webkit-scrollbar-track {
    background-color: #FFF3E0; 
  }
  .chat-upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc80;
    color: #ffffff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }